# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/MY-APP/node_modules
/MY-APP/.pnp
/MY-APP/.pnp.js

# testing
/MY-APP/coverage

# production
/MY-APP/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
